.quantity-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    border: 1px solid #EFEFEF;

    .minus,
    .plus {
        background-color: transparent;
        border: 0;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        user-select: none;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $_bg_light_2;
        transition: background .3s, color .3s;

        &:hover {
            //background-color: $_color_txt_light;
            color: $_color_txt;
        }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button,
    input[type=number] {
        -moz-appearance: textfield;
        -webkit-appearance: none;
        margin: 0 !important;
        border: 0 !important;
    }

    input[type=number],
    input.qty {
        text-align: center;
        width: 60px;
        height: 40px;
        border: 1px solid #ccc;
        margin: 0 5px;
        font-size: 16px;

    }
}