
/*
 * INPUT PLACEHOLDERS
 * Styles for input placeholders
 * do not combine - not working
 */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #aaa;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #aaa;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #aaa;
}
:-moz-placeholder { /* Firefox 18- */
	color: #aaa;
}

/*
 * INPUT FIELDS
 * Common styles for input fields
 *
 */

span[class*="mathcaptcha"] {

	&, & * {
		display: inline-block !important;
		vertical-align: middle;
	}

	.wpcf7-mathcaptcha {max-width: 60px !important;}
}

.wpcf7-radio {
	display: block;
	cursor: pointer; 
	user-select:none;
	text-align: left;

	&+.radio{
		margin-top: 12px;
	}

	input{
		display: none;

		& + span {
			display: inline-block; 
			position: relative;
			padding-left: 30px;

				&:before{
					content: '';
					display: block; 
					position: absolute;
					top: 0px;
					left: 0px;
					border-radius: 50%;
					margin-right: 5px;
					width: 28px;
					height: 28px;
					border: 1px solid #ccc;
					background: #fff;
				}
				&:after{
					content: '';
					display: block; 
					width: 18px;
					height: 18px;
					background: #222;
					position: absolute;
					border-radius: 50%;
					top: 5px;
					left: 5px;
					opacity: 0;
					transform: scale(0,0); 
					transition: all .2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
				}
		}

		&:checked+span:after{
			opacity: 1;
			transform: scale(1,1);
		}
	}
}
/* END CHECKBOX STYLE */

input[type="text"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="password"],
select,
textarea {
	width: 100%;
	display: block;
	padding: 10px 15px;
	color: $_color_txt !important;
	max-width: 100%;
	min-height: 44px;
	border: 1px solid #eee !important;
	background: $_bg_light;
	@include border-radius($_theme_border_radius);
	//box-shadow: 0 0 5px 0 $_color_txt_light;
	font-family: $_font_base;
	font-weight: 400;
	@include fluid-type($_screen_min_width, $_screen_max_width, 14px, 16px);

	&:focus{
		border: 1px solid $_color_accent !important;
	}

	&.wpcf7-not-valid {
		border: 1px solid #dc3232 !important;
	}
}

select {
	-webkit-appearance: menulist;
	-moz-appearance: menulist;
	appearance: menulist;
	
	option {
		color: $_color_txt;
	}
}

textarea {
	max-height: 105px;
	min-height: 105px !important;
	min-width: 100%;
	max-width: 100%;
	width: 100%;
}


/*
 * Datepicker for CF7
 *
 */
.ui-datepicker { font-size: 14px !important; }

/*
 * BUTTON'S STYLE
 * Inlcude predefined styles
 */




/*
 * CF7 Styles
 */

.wpcf7 {
	width: 100%;
	margin: 0;
	padding: 0;


	input[type="submit"] {
		padding: 15px 25px;
		width: 100%;
	}

	&-form {
		position: relative;

		&.invalid {
			padding-bottom: 40px;
		}
	}

	.uploader {
		position: relative;
		background: $_bg_light;
		@include border-radius($_theme_border_radius);
		padding: 8px;
		border: 1px solid #eee !important;


		> small {
			position: absolute;
			color: #aaa;

			&:nth-child(1) {
				top: 15px;
				left: 15px;
			}

			&:nth-child(2) {
				top: 15px;
				right: 15px;
			}
		}

		.codedropz-upload-inner {
			padding-top: 35px;

			span,
			.codedropz-btn-wrap {
				display: inline;
			}
		}
	}

	&-form-control-wrap {
		color: #aaa;

		a {
			color: $_color_accent;
		}

		.codedropz-upload-wrapper {
		    background-image: url("data:image/svg+xml,%3Csvg width='24' height='16' viewBox='0 0 24 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5787 6.83732C19.5787 6.77332 19.5893 6.70932 19.5893 6.64532C19.5893 3.17866 16.8267 0.373322 13.4187 0.373322C10.96 0.373322 8.84801 1.83465 7.85601 3.94665C7.42401 3.72799 6.93868 3.59999 6.42668 3.59999C4.85334 3.59999 3.54134 4.76799 3.29068 6.29332C1.40268 6.94399 0.0533447 8.75199 0.0533447 10.88C0.0533447 13.5573 2.19201 15.7333 4.82668 15.7333H10.2933V11.4667H7.72268L12 7.00265L16.2773 11.4613H13.7067V15.728H19.5893C22 15.728 23.9467 13.728 23.9467 11.28C23.9467 8.83199 21.9893 6.84265 19.5787 6.83732Z' fill='%23CCCCCC'/%3E%3C/svg%3E");
		    background-size: 23px auto;
		    background-repeat: no-repeat;
		    background-position: 50% 45%;
		}

		.codedropz-upload-handler {
			border: 0;
			margin-bottom: 0;
		}
	}

	&-spinner {
		background-color: #000;
		@include border-radius(50%);
		position: absolute;
		top: 50%;
		left: 50%;
		opacity: 1;
		z-index: 22;
		box-shadow: 0 0 5px 2px #fff;
		transform: translate(-50%,-50%);
		margin: 0;

		&:before {
			background: #fff;
		}
	}

	&-response-output {
		margin: 0 auto !important;
		text-align: center;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: #fff;
		font-size: 15px;
		color: $_color_txt;
		@include border-radius($_theme_border_radius);
	}

	&-validation-errors {
		background: #fff;
		font-weight: 700;
	}

	&-form-control-wrap {
		display: block;
		position: relative;
	}

	&-not-valid-tip {
		@include d-inline-block;
		background: #fff;
		padding: 3px;
		text-transform: uppercase;
		margin: 0;
		font-size: 11px;
		font-weight: 500;
		position: absolute;
		bottom: 3px;
		right: 3px;
	}

	p {
		margin-bottom: 15px;

		&.buttonme {
			margin: 0;
		}
	}


}
