* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box!important;
    box-sizing: border-box!important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.threesixty {
    margin: 0 auto;
    overflow: hidden;
    max-height: 100%;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: auto
}

.threesixty:-webkit-full-screen,.threesixty:webkit-full-screen {
    object-fit: contain
}

.threesixty:-moz-full-screen,.threesixty:webkit-full-screen {
    object-fit: contain
}

.threesixty:-ms-fullscreen,.threesixty:webkit-full-screen {
    object-fit: contain
}

.threesixty:fullscreen,.threesixty:webkit-full-screen {
    -o-object-fit: contain;
    object-fit: contain
}

.threesixty .threesixty_images {
    display: none;
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0
}

.threesixty .threesixty_images img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.threesixty .threesixty_images img.previous-image {
    display: none
}

.threesixty .threesixty_images img.current-image {
    display: block
}

.threesixty .spinner {
    width: 60px;
    display: block;
    margin: 0 auto;
    height: 30px;
    background: #333;
    background: rgba(0,0,0,.7);
    border-radius: 5px
}

.threesixty .spinner span {
    font-family: Arial,MS Trebuchet,sans-serif;
    font-size: 12px;
    font-weight: bolder;
    color: #FFF;
    text-align: center;
    line-height: 30px;
    display: block
}

.threesixty .nav_bar {
    position: absolute;
    color: #fff;
    z-index: 1;
    height: 32px;
    background: rgba(0,0,0,.6);
    border: 1px solid rgba(0,0,0,.7);
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(255,255,255,.5);
    box-shadow: inset 0 0 5px rgba(255,255,255,.5)
}

.threesixty .nav_bar.bottom-right {
    bottom: 10px;
    right: 20px
}

.threesixty .nav_bar.bottom-left {
    bottom: 10px;
    left: 20px
}

.threesixty .nav_bar.top-left {
    top: 10px;
    left: 20px
}

.threesixty .nav_bar.top-right {
    top: 10px;
    right: 20px
}

.threesixty .nav_bar.top-center {
    top: 10px
}

.threesixty .nav_bar.bottom-center,.threesixty .nav_bar.top-center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.threesixty .nav_bar.bottom-center {
    bottom: 25px
}

.threesixty .nav_bar .butn {
    z-index: 2;
    float: left;
    width: 30px;
    height: 30px;
    padding: 7.5px;
    border-right: 1px solid rgba(0,0,0,.7);
    border-left: 1px solid rbga(255,255,255,.2);
    border-radius: 0;
    cursor: pointer
}

.threesixty .nav_bar .butn:first-child {
    border-left: none
}

.threesixty .nav_bar .butn:last-child {
    border-right: none
}

.threesixty .nav_bar .butn span {
    z-index: 13;
    display: block;
    width: 15px;
    height: 15px;
    margin: auto
}
/*
.threesixty .nav_bar .butn span.icon-play {
    background: url(../../assets/sprite.png) no-repeat 0 0
}

.threesixty .nav_bar .butn span.icon-pause {
    background: url(../../assets/sprite.png) no-repeat -15px 0
}

.threesixty .nav_bar .butn span.icon-forward {
    background: url(../../assets/sprite.png) no-repeat -30px 0
}

.threesixty .nav_bar .butn span.icon-back {
    background: url(../../assets/sprite.png) no-repeat -45px 0
}

.threesixty .nav_bar .butn span.icon-fullscreen {
    background: url(../../assets/sprite.png) no-repeat -60px 0
}

.threesixty .nav_bar .butn span.icon-resize {
    background: url(../../assets/sprite.png) no-repeat -75px 0
}

.threesixty .nav_bar .butn span.icon-download {
    background: url(../../assets/sprite.png) no-repeat -90px 0
}
*/
.threesixty:-webkit-full-screen,:-webkit-full-screen {
    max-width: 100%;
    max-height: 100%;
    height: auto!important;
    width: auto!important
}

.threesixty:fullscreen,:-webkit-full-screen {
    max-width: 100%;
    max-height: 100%;
    height: auto!important;
    width: auto!important
}

.threesixty:-webkit-full-screen::backdrop,:-webkit-full-screen::backdrop {
    background: transparent!important
}

.threesixty:fullscreen::backdrop,:-webkit-full-screen::backdrop {
    background: transparent!important
}

.threesixty:-webkit-full-screen img,:-webkit-full-screen img {
    max-width: 100%!important;
    max-height: 100%!important;
    margin: auto!important
}

.threesixty:fullscreen img,:-webkit-full-screen img {
    max-width: 100%!important;
    max-height: 100%!important;
    margin: auto!important
}
