/*
 * Theme typography file
 * 
 * Fonts, Font-sizes, Interlineage, Kerning etc
 */

body {
    @include fluid-type($_screen_min_width, $_screen_max_width, 14px, 17px);
    line-height: $_line_height_norm;
    font-weight: 400;
    font-family: Sans-Serif;
}

html {
    
        body {
            font-family: $_font_base;
        }

        article {
            h1, h2, h3, h4, h5, h6 {
                @extend .title;
            }
        }
    
}


article {

    .entry-content {
        

        .has-text-align {
            &-center {
                text-align: center;
            }

            &-right {
                text-align: right;
            }

            &-left {
                text-align: left;
            }
        }

        .wp-block-gallery,
        h1, h2, h3, h4, h5, h6 {
            clear: both;
        }

        .wp-block-gallery {
            .blocks-gallery-grid {
                margin: 15px auto;
            }
        }

        h4, h5, h6 {
            color: $_color_accent;
        }

        figure {
            @extend .image-deco;
            @extend .red;

            &[class*="align"] {
                @include screen(custom, max, 600) {
                    float: unset !important;
                    margin: 0 auto 15px;
                    text-align: center;
                    width: 100%;
                    max-width: 600px;
                }
            }

            img {
                width: 100%;
            }
            
        }

        .sup-title + h1,
        .sup-title + h2,
        .sup-title + h3,
        .sup-title + h4,
        .sup-title + h5,
        .sup-title + h6 {
            margin-top: 0;
        }

        * + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
            margin-top: 20px;
            margin-bottom: 15px;
        }

        .wp-block-heading,
        li, p {
            &:not(.buttonme) {
                margin-bottom: 15px;

                a {
                    color: $_color_accent;
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            &.buttonme {
                margin: 0 0 15px 0;

                a {
                    margin: 5px 0;
                }
            }
        }

        span {
            &[class*="site_contact_phone"] {
                > span,
                > a {
                    color: $_color_accent
                }

                i {
                    margin-right: 8px;
                }

                > a {
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        ul {
            list-style-type: disc;
        }

        ol {
            list-style-type: decimal;
        }

        ul, ol {
            padding-left: 20px;
        }


        h1:not(.sup-title), .h1 { @include fluid-type($_screen_min_width, $_screen_max_width, 28px, 56px); }
        h2:not(.sup-title), .h2 { @include fluid-type($_screen_min_width, $_screen_max_width, 26px, 46px); }
        h3:not(.sup-title), .h3 { @include fluid-type($_screen_min_width, $_screen_max_width, 24px, 40px); }
        h4:not(.sup-title), .h4 { @include fluid-type($_screen_min_width, $_screen_max_width, 20px, 36px); }
        h5:not(.sup-title), .h5 { @include fluid-type($_screen_min_width, $_screen_max_width, 18px, 20px); }
        h6:not(.sup-title), .h6 { @include fluid-type($_screen_min_width, $_screen_max_width, 18px, 20px); }


        .wp-block-uagb-columns {
            padding: 0;

            .wp-block-uagb-column {
                //min-height: 280px;

                &.has-image {
                    overflow: hidden;
                }

                &:not(.has-image) {
                    padding: 15px;

                    @include screen(custom, max, 976) {
                        padding: 25px 0;
                    }
                }

                .uagb-column__inner-wrap {
                    padding: 0;
                }
            }
        }
    }
}