//on sale lbl
.onsale {
	background-color: $_bg_light !important;
	border-radius: 3px !important;
	padding: 0 5px 0 0 !important;
	min-height: unset !important;
	min-width: unset !important;
	width: 72px !important;
	color: $_color_txt !important;
	font-size: 14px !important;
	font-weight: 500 !important;
	line-height: 1.2 !important;
	margin: 0 !important;
	top: 15px !important;
	left: 0 !important;
	right: unset !important;
	text-align: center;

	&:before {
		content:'';
		@include d-inline-block;
		margin-right: 5px;
		width: 16px;
		height: 24px;
		background: url($_img_path + 'icon-sale-lbl.svg') no-repeat left center;
		background-size: 16px auto;
	}
}

/*
 * Shop Category  drop-down sorter
 */
#woocommerce_before_shop_loop {

	//result count
	.woocommerce-result-count {
		font-size: 12px;
		text-transform: uppercase;
		color: $_color_txt_light;
	}

	//form ordering selector
	.woocommerce-ordering {
		select {
			font-size: 12px !important;
			text-transform: uppercase;
			padding: 5px 15px !important;
			border: 0 !important;
		}
	}
}
////////////////////////////////////


.woocommerce-info {
	

	> span {
		@include flexme;
	}
}


//checkout
body.woocommerce-checkout {
	article {


		a {
			color: $_color_txt;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

//account
body.woocommerce-account {
	.shop_table {
		th, td {
			font-weight: 400 !important;
		}
	}

	article.wc-my-account {
		padding: 65px 0;

		.woocommerce-MyAccount-content {

			form {
				input {
					border-radius: 26px !important;
				}
			}

			div,p,h1,h2,h3,h4,h5, table {

				&:not(.buttonme) {

					a {
						color: $_color_txt;
						text-decoration: underline;

						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}



.wc-block-cart__submit-container {
	@extend .buttonme;
}

//mini cart drawer
.wp-block-woocommerce-cart,
.wc-block-mini-cart__drawer {

	//start shopping btn in drawer when empty
	.wp-block-button {
		@extend .buttonme;
	}

	.wp-block-woocommerce-filled-mini-cart-contents-block {
		background: $_bg_light;
	}

	.wp-block-woocommerce-mini-cart-title-block {
		@include fluid-type($_screen_min_width, $_screen_max_width, 26px, 34px);
	}

	.wc-block-cart-items {

		.wc-block-cart-items__row {

			&:not(:only-child) {
				border-bottom: 1px solid #efefef;
			}

			.wc-block-components-quantity-selector {

				input[type="number"] {
					padding: 0 !important;
				}
			}

			.wc-block-components-product-name {
				color: $_color_txt;
				text-decoration: underline;
				font-weight: 500;
				@include fluid-type($_screen_min_width, $_screen_max_width, 16px, 18px);


				&:hover {
					color: $_color_txt_light;
					text-decoration: none;
				}
			}

			.wc-block-components-product-price {
				@include fluid-type($_screen_min_width, $_screen_max_width, 17px, 20px);
				font-family: $_font_heading;
				font-weight: 700;
			}


			.wc-block-cart-item__prices {
				font-family: $_font_heading;

				ins {
					font-weight: 600;
				}

				del {
					color: $_bg_light_3;
				}
			}

			.wc-block-components-product-badge {
				border-color: $_color_accent;

				> span {
					color: $_color_txt_light;
					font-weight: 700;
				}
			}
		}
	}

	.wp-block-woocommerce-mini-cart-footer-block {
		background: $_color_accent;
		color: $_color_txt;

		.wc-block-components-totals-item__value {
			@include fluid-type($_screen_min_width, $_screen_max_width, 24px, 34px);
		}

		.wc-block-mini-cart__footer-actions {
			@extend .buttonme;
			@extend .outlined;
		}
	}
}