/*
 * Desktop Menu Style Mobile
 * STYLE 02
 *
 * 01. Structure
 * 02. Styles
 *
 * id="#site-navigation"
 * & = .menu__main-navigation 
 */


/*
 * local VARs
 */

$_iconic_font_family:       'FontAwesome';      // use here any iconic font and ita value for $_dsk_dropdown_icon
$_dropdown_icon:            '\f078';            //fa-caret-down [&#xf0d7;]
$_dropdown_icon_toggled:    '\f00d';
$_mobmenu_width:    320px;


& {
    background-color: $_bg_light;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    max-width: 430px;
    text-align: center;
    opacity: 0;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: scale(0);
    transform-origin: 100% 0;
    z-index: 10255;
    overflow: auto;
    /*
     * 01. Structure & Behavior
     */

    menu {

        &.nav-menu {


            // common props for nav elems
            li {
                display: block;

                &[class*="children"] {
                    @include flexme;

                    & > a {
                        flex: 1;
                    }

                    & > .sub-menu-toggler {
                        width: 44px;

                        &:after {
                            content: $_dropdown_icon;
                            font-family: $_iconic_font_family;
                        }
                    }

                    .sub-menu {
                        display: none;
                        width: 100%;

                        &.opened {
                            display: block;
                        }
                    }
                }
            }
            // end common props for elems

        } // .nav-menu end
    }


    &.menu-opened {
        transform: scale(1);
        opacity: 1;
        display: block;

        .nav-menu {
            margin-top: 150px;
        }
    }

    /*
     * 02. Styles Colors, Background, Fonts & Sizes
     */
   menu {

        &.nav-menu {
            text-align: left;
            padding: 0 25px;

            // common props for elems

            // end common props for elems

            & > li {
                // 1st level menu - root items
                border-bottom: 1px solid $_bg_light_3;


                & > a {
                    display: block;
                    padding: 8px 10px;
                    color: $_color_txt;
                    font-size: 20px;
                }

                &:hover{
                    > a {
                        color: $_color_accent;
                    }
                }
                &[class*="current"] {
                    > a {
                        font-weight: 500;
                        color: $_color_accent;
                    }
                }

                &[class*="children"] {
                    position: relative;

                    & > a {

                    }

                    & > .sub-menu-toggler {
                        text-align: center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 44px;
                        text-align: right;
                        padding: 13px 15px 0 0;

                        &:after {
                            color: $_bg_light;
                        }

                        &.toggled-on {
                            &:after {
                                content: $_dropdown_icon_toggled;
                            }
                        }
                    }

                    & > .sub-menu {
                        // 2nd level menu - sub-menu items
                        padding: 0;
                        margin: 0;

                        & > li {
                            &:not(:last-child) {
                                margin-bottom: 25px;
                            }

                            & > a {
                                display: block;
                                padding: 10px 15px;
                                color: $_bg_light;
                                font-size: 17px;
                            }

                            &[class*="children"] {
                                position: relative;

                                & > a {
                                    padding-right: 50px;
                                }

                                & > .sub-menu-toggler {
                                    text-align: center;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 44px;
                                    text-align: right;
                                    padding: 8px 15px 0 0;
                                    display: none;


                                    &:after {
                                        color: $_bg_light;
                                    }
                                }

                                & > .sub-menu {
                                    // 3rd level menu - sub-sub-menu items
                                    display: block;
                                    padding-left: 25px;


                                    & > li {

                                        & > a {
                                            display: block;
                                            padding: 5px 15px;
                                            color: $_bg_light;
                                        }

                                        &:hover{
                                            > a {
                                                color: $_color_accent;
                                            }
                                        }
                                        &[class*="current"] {
                                            > a {
                                                font-weight: 500;
                                                color: $_color_accent;
                                            }
                                        }
                                    }
                                } // 3rd lvl sub-menu end
                            } // 3rd li.children end
                        } // li 2nd lvl end
                    } // 2nd sub-menu end
                }// 1st .children end
            }// 1st lvl end
        } // .nav-menu end
    }
}

