/* Mobile Menu Toggler
 * STYLE 01
 */

$_mt_color: 				#ccc;
$_mt_bg:					#000;
$_mt_bg_active:				#005c9c;
$_mt_width:					28px;
$_mt_height:				28px;
$_mt_transition_duration: 	500ms;

& {
	/*
	 * Style for main button layout 
	 * button#mobile-menu-toggle
	 */
	position: relative;
	margin: 0;
	cursor: pointer;
	padding: 0;
	border: 0;
	height: $_mt_height;
	width: $_mt_width;
	background: transparent;
	
	&.mt-style {

		/*
		 * Default button style
		 */
		span {
			&,
			&:before,
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 2.5px;
				background: $_mt_bg;
				border-radius: 20px;
				left: 0;
				display: block;
				transition: all $_mt_transition_duration cubic-bezier(0.77, 0, 0.175, 1);
			}

			&:before {
				top: -8px;
			}

			&:after {
				top: 8px;
			}
		}

		/*
		 * Active Toggled-On Style
		 */
	 	&.toggled-on {

	 		& > span  {
				background: unset !important;

				&:before,
				&:after {
					background: $_mt_bg_active;
					top: 0px;
				}

				&:before {
					transform: rotate(-225deg);
				}

				&:after {
					transform: rotate(225deg);
				}

			}
	 	}

		/*
		 * Hovered Style
		 */
	 	&:hover {

	 		& > span  {
				
				&,
				&:before,
				&:after {
					background: $_mt_bg_active;
				}

			}
	 	}

	}
	/* end .mt-style__01 */
}

